<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094098865595-au1ksefhjnp5d1lnb0e7n4tk6ridaft0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094098865595-au1ksefhjnp5d1lnb0e7n4tk6ridaft0</string>
	<key>API_KEY</key>
	<string>AIzaSyDIy0nHpxamGoz2S-VyBf78Y3xYSN8Gf44</string>
	<key>GCM_SENDER_ID</key>
	<string>1094098865595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bme.aut.Chatty</string>
	<key>PROJECT_ID</key>
	<string>ios-chatty</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-chatty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094098865595:ios:93e4473b6d7f870d27089e</string>
	<key>DATABASE_URL</key>
	<string>https://ios-chatty.firebaseio.com</string>
</dict>
</plist>